.board-container {
    display: grid;
    place-items: center;
    padding: 2em;
}

.board-game {

    width: calc(var(--box-size) * 8);
    height: calc(var(--box-size) * 8);
    border-spacing: 0px;
    border-collapse: collapse;
}

.board-game td {
    width: var(--box-size);
    height: var(--box-size);
    outline: solid 1px #ccc;
}

.box {
    position: relative;
    padding: 0px;
    cursor: pointer;
}

.box .info {
    position: absolute;
    font-size: 0.5rem;
    line-height: 0.5rem;
    opacity: .5;
}

.info.letter {
    top: 2px;
    right: 2px;
}

.info.number {
    bottom: 2px;
    left: 2px;
}

.marker {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.marker.hit {
    color: red;
}

.marker.missed {
    color: blue;
}

.button-container {
    padding: 2em;
}
.button-container button {
    
    border-radius: 10px;
    border: solid 1px blue;
    background-color: #add8e6;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.button-container button:hover {

    background-color: #add8e6cc;
}
