:root {

    --box-size: 40px;
}

.board-container {
    display: grid;
    place-items: center;
    padding: 2em;
}

.board-game {

    width: calc(var(--box-size) * 9);
    height: calc(var(--box-size) * 9);
    border-spacing: 0px;
    box-sizing: border-box;
    border-collapse: collapse;
}

.board-game td {
    width: var(--box-size);
    height: var(--box-size);
    border: solid 1px #ccc;
}

.box {
    position: relative;
    padding: 0px;
}

.box .info {
    position: absolute;
    font-size: 0.5rem;
    opacity: .5;
}

.info.letter {
    top: 2px;
    right: 2px;
}

.info.number {
    bottom: 2px;
    left: 2px;
}