.board-container {
    display: grid;
    place-items: center;
    padding: 2em;
}

.board-game {

    width: calc(var(--box-size) * 8);
    height: calc(var(--box-size) * 8);
    border-spacing: 0px;
    border-collapse: collapse;
}

.board-game td {
    width: var(--box-size);
    height: var(--box-size);
    outline: solid 1px #ccc;
}

.box {
    position: relative;
    padding: 0px;
}

.box .info {
    position: absolute;
    font-size: 0.5rem;
    line-height: 0.5rem;
    opacity: .5;
}

.info.letter {
    top: 2px;
    right: 2px;
}

.info.number {
    bottom: 2px;
    left: 2px;
}

