.ship {

    background: lightgreen;
    border: solid 1px green;
    border-radius: 10px;
    display: block;
}
.ship.sunk {

    background: lightcoral;
    border: solid 1px red;
    border-radius: 10px;
    display: block;
}
.board-game .ship {

    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
}
.board-game .ship.position-fixed {
    pointer-events: none;
}
.ships-no-fixed .ship {
    margin: .5em;
    cursor: pointer;
    float: left;
    clear: both;
}
.ships-no-fixed .ship:hover {
    opacity: 0.7;
}

.ship.row {

    height: calc(var(--box-size) - 10px);
}
.ship.row.size-1 {

    width: calc(var(--box-size) - 10px);
}
.ship.row.size-2 {

    width: calc(2 * var(--box-size) - 10px);
}
.ship.row.size-3 {

    width: calc(3 * var(--box-size) - 10px);
}
.ship.row.size-4 {

    width: calc(4 * var(--box-size) - 10px);
}
.ship.row.size-5 {

    width: calc(5 * var(--box-size) - 10px);
}

.ship.column {

    width: calc(var(--box-size) - 10px);
}
.ship.column.size-1 {

    height: calc(var(--box-size) - 10px);
}
.ship.column.size-2 {

    height: calc(2 * var(--box-size) - 10px);
}
.ship.column.size-3 {

    height: calc(3 * var(--box-size) - 10px);
}
.ship.column.size-4 {

    height: calc(4 * var(--box-size) - 10px);
}
.ship.column.size-5 {

    height: calc(5 * var(--box-size) - 10px);
}

