header {
    border-bottom: 1px solid #ccc;
    height: var(--header-height);
}
header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}


header .container .title {
    margin-left: .5em;
    font-size: 30px;
}